
<ion-header >
  <ion-toolbar>
    <ion-title>Top 5 Island</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="ion-padding">
      
      <div>
        <img src="assets/island.png">
      </div>
  
      <p>This app shows the top 5 visited island based on date of visit. Select a date and see the list and graph result.</p>
      
      <ion-item>
        <ion-label>Date of visit</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" min="2017-03-01" max="2017-03-07" value="2017-03-01" (ionChange)="dateChanged($event)"></ion-datetime>
      </ion-item>

    </div>

    <ion-card>

      <ion-card-header>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title> -->
        <ion-segment (ionChange)="segmentChanged($event)" value="list">
      
          <ion-segment-button value="list">
            <ion-label><ion-icon name="menu-outline"></ion-icon> List</ion-label>
          </ion-segment-button>
    
          <ion-segment-button value="graph">
            <ion-label><ion-icon name="bar-chart-outline"></ion-icon> Graph</ion-label>
          </ion-segment-button>
    
        </ion-segment>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list [style.display]="isGraph ? 'none' : 'block'">
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/1.jpg">
            </ion-avatar>
            <ion-label>
              <h2>{{ island_name1 }}</h2>
              <h3>{{ visit_count1 }}</h3>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/2.jpg">
            </ion-avatar>
            <ion-label>
              <h2>{{ island_name2 }}</h2>
              <h3>{{ visit_count2 }}</h3>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/3.jpg">
            </ion-avatar>
            <ion-label>
              <h2>{{ island_name3 }}</h2>
              <h3>{{ visit_count3 }}</h3>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/4.jpg">
            </ion-avatar>
            <ion-label>
              <h2>{{ island_name4 }}</h2>
              <h3>{{ visit_count4 }}</h3>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/5.jpg">
            </ion-avatar>
            <ion-label>
              <h2>{{ island_name5 }}</h2>
              <h3>{{ visit_count5 }}</h3>
            </ion-label>
          </ion-item>

        </ion-list>
        
        <div class="row" [style.display]="isGraph ? 'block' : 'none'">

          <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
        
        </div>

      </ion-card-content>

    </ion-card>  

</ion-content>

<!-- <div id="container">
  <strong>Ready to create an app?</strong>
  <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div> -->
